{% from 'dashboards/fragments/modal_form.html' import htmx_form with context %}
{% from 'dashboards/fragments/form_fields.html' import text_field with context %}
{# htmx: Create Institution Type Form #}
{% call htmx_form(
    url_for('admin_dashboard.htmx_institution_type_create'),
    '#createInstitutionTypeFormContainer',
    'Create Institution Type',
    submit_icon='plus'
) %}
        {{ text_field('type', 'Type Name',
                      required=True, maxlength=45,
                      placeholder='e.g. University',
                      id='createInstTypeName') }}
{% endcall %}
