{% from 'dashboards/fragments/modal_form.html' import htmx_form with context %}
{% from 'dashboards/fragments/form_fields.html' import text_field with context %}
{# htmx: Create Contract Source Form #}
{% call htmx_form(
    url_for('admin_dashboard.htmx_contract_source_create'),
    '#createContractSourceFormContainer',
    'Create Contract Source',
    submit_icon='plus'
) %}
        {{ text_field('contract_source', 'Source Name',
                      required=True, maxlength=50,
                      placeholder='e.g. NSF',
                      id='createContractSourceName') }}
{% endcall %}
