{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>SAM Administration Dashboard</h1>
            <p class="lead">System for Allocation Management</p>
        </div>
    </div>
    
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Users</h3>
                </div>
                <div class="panel-body text-center">
                    <h2>{{ user_count }}</h2>
                    <a href="{{ url_for('users.index_view') }}" class="btn btn-primary">
                        Manage Users
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Projects</h3>
                </div>
                <div class="panel-body text-center">
                    <h2>{{ project_count }}</h2>
                    <a href="{{ url_for('projects.index_view') }}" class="btn btn-success">
                        Manage Projects
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Resources</h3>
                </div>
                <div class="panel-body text-center">
                    <h2>{{ resource_count }}</h2>
                    <a href="{{ url_for('resources.index_view') }}" class="btn btn-info">
                        Manage Resources
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            <h3>Quick Links</h3>
            <div class="list-group">
                <a href="{{ url_for('comp_charges.index_view') }}" class="list-group-item">
                    <h4 class="list-group-item-heading">Computational Charges</h4>
                    <p class="list-group-item-text">View computational job charges and summaries</p>
                </a>
                <a href="{{ url_for('hpc_charges.index_view') }}" class="list-group-item">
                    <h4 class="list-group-item-heading">HPC Charges</h4>
                    <p class="list-group-item-text">View HPC charge summaries</p>
                </a>
                <a href="{{ url_for('allocations.index_view') }}" class="list-group-item">
                    <h4 class="list-group-item-heading">Allocations</h4>
                    <p class="list-group-item-text">Manage resource allocations</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
