{{!
    Charge Table Row Template (Partial)
    Single row showing daily charge breakdown

    Data structure:
    {
        date: "2024-11-01",
        comp: 1234.56,
        dav: 67.89,
        disk: 0.0,
        archive: 0.0,
        total: 1302.45,
        hasComp: true,
        hasDav: true,
        hasDisk: false,
        hasArchive: false
    }
}}
<tr>
    <td>{{date_formatted}}</td>
    {{#hasComp}}
    <td class="text-right">{{comp_formatted}}</td>
    {{/hasComp}}
    {{#hasDav}}
    <td class="text-right">{{dav_formatted}}</td>
    {{/hasDav}}
    {{#hasDisk}}
    <td class="text-right">{{disk_formatted}}</td>
    {{/hasDisk}}
    {{#hasArchive}}
    <td class="text-right">{{archive_formatted}}</td>
    {{/hasArchive}}
</tr>
