{{!
    Project List Template
    Container for displaying list of projects

    Data structure:
    {
        username: "benkirk",
        projects: [...array of project objects...],
        total_projects: 5
    }
}}
{{#projects}}
{{#projects.length}}
<div id="projects-container">
    {{#projects}}
    {{>project-card}}
    {{/projects}}
</div>
{{/projects.length}}
{{^projects.length}}
<div class="alert alert-info">
    <i class="fas fa-info-circle"></i>
    No active projects found. You are not currently a member of any active projects.
</div>
{{/projects.length}}
{{/projects}}
