{{!
    Project Tree Node Template (Recursive Partial)
    Displays project hierarchy with nested children

    Data structure:
    {
        projcode: "SCSG0001",
        title: "Project Title",
        children: [
            {projcode: "SCSG0002", title: "Child Project", children: []},
            ...
        ]
    }
}}
<li>
    <strong>{{projcode}}</strong>
    {{#title}}
    - {{title}}
    {{/title}}
    {{#children}}
    {{#children.length}}
    <ul class="tree-list">
        {{#children}}
        {{>project-tree-node}}
        {{/children}}
    </ul>
    {{/children.length}}
    {{/children}}
</li>
