{{!
    Transaction Row Template (Partial)
    Single table row showing allocation transaction or charge adjustment

    Data structure:
    {
        date: "2024-01-01",
        type: "Allocation: New",
        comment: "Initial allocation",
        amount: 500000.0
    }
}}
<tr>
    <td>{{date_formatted}}</td>
    <td>
        {{#isAllocation}}
        <span class="badge badge-primary">{{type}}</span>
        {{/isAllocation}}
        {{#isCredit}}
        <span class="badge badge-success">{{type}}</span>
        {{/isCredit}}
        {{#isDebit}}
        <span class="badge badge-warning">{{type}}</span>
        {{/isDebit}}
    </td>
    <td>{{comment}}</td>
    <td class="text-right">
        {{#isPositive}}
        <span class="text-success font-weight-bold">+{{amount_formatted}}</span>
        {{/isPositive}}
        {{#isNegative}}
        <span class="text-danger font-weight-bold">{{amount_formatted}}</span>
        {{/isNegative}}
        {{#isZero}}
        <span class="text-muted">{{amount_formatted}}</span>
        {{/isZero}}
    </td>
</tr>
